<main>
  <h1>Forms</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <label for="name">Nome</label>
    <input formControlName="name" placeholder="Digite seu nome" type="text" name="name" id="name">
    <label for="email">Email</label>
    <input formControlName="email" placeholder="Digite seu email" type="email" name="email" id="email">
    <label for="password">Senha</label>
    <input formControlName="password" placeholder="Digite sua senha" type="password" name="password" id="password">
    <button type="submit">
      Enviar
    </button>
  </form>

  @if(notify.show){
    <div [className]="notify.className">
      {{notify.message}}
    </div>
  }
</main>
