<main class="flex flex-col justify-start items-center w-full gap-24 py-10">
  <section class="flex justify-center items-center max-w-[1200px] gap-6">
    <div>
      <p class="text-slate-700 font-medium text-lg">KIPPER CONSULTORIA</p>
      <p class="text-7xl font-extrabold max-w-[650px]">
        A consultoria que você busca para seu software
      </p>
    </div>

    <img ngSrc="/assets/home-img1.png" width="669" height="536" alt="home img">

  </section>

  <section class="flex justify-between items-center max-w-[1200px] gap-24">

    <p class="text-5xl font-extrabold max-w-56 pb-12 border-b-8 border-[#5222D0]">
      95% das
      empresas
    </p>
    <p class="text-5xl italic font-extralight w-fit">
      não sabem como lidar com problemas de <span
        class="px-1 bg-clip-text text-transparent bg-gradient-to-l from-[#8b66f0] to-[#4a2aa0] font-bold">escalibilidade</span>
      e grande volume
      de requisições.
    </p>
  </section>

  <section class="flex justify-between items-center max-w-[1200px] gap-12">
    <app-btn text="fale com nossos especialistas">

    </app-btn>
  </section>

  <section class="bg-[#351686] text-white w-full flex justify-center items-center">
    <div class="flex justify-between items-stretch pb-10 max-w-[1200px] gap-16 py-10">

      <div class="flex-1">
        <p class="text-4xl font-bold pb-8">Fique por dentro de tendências</p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi. Aliquam in hendrerit urna.
          Pellentesque
          sit
          amet sapien fringilla, mattis ligula consectetur, ultrices mauris. Maecenas vitae mattis tellus. Nullam quis
          imperdiet augue. Vestibulum auctor ornare leo, non suscipit magna interdum eu. Curabitur pellentesque nibh
          nibh,
          at
          maximus ante fermentum sit amet. Pellentesque commodo lacus at sodales sodales. Quisque sagittis orci ut diam
          condimentum, vel euismod erat placerat. In iaculis arcu eros, eget temp
        </p>
      </div>

      <app-form-subscribe></app-form-subscribe>
    </div>
  </section>

  <section class="flex justify-between items-center max-w-[1200px] gap-12">
    <div class="flex-1">
      <img ngSrc="/assets/team.png" [priority]="true" height="590" width="610" alt="team">
      <div class="py-3 space-y-3">
        <p class="text-3xl font-medium">Equipe capacitada</p>
        <p class="text-zinc-600 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
          Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</p>
      </div>
    </div>

    <div class="flex-1">
      <img ngSrc="/assets/project-guide.png" [priority]="true" height="590" width="610" alt="team">
      <div class="py-3 space-y-3">
        <p class="text-3xl font-medium">Seus projetos guiados do zero</p>
        <p class="text-zinc-600 text-sm">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et massa mi.
          Aliquam in hendrerit urna. Pellentesque sit amet sapien fringilla, mattis ligula consectetur.</p>
      </div>
    </div>
  </section>

  <section class="flex flex-col justify-between items-center max-w-[1200px] gap-12">
    <p class="text-5xl font-bold text-center px-32">Quer elevar seu software e seus negócios para outro nível?</p>

    <a routerLink="/email"
      class="cursor-pointer rounded-full bg-gradient-to-b from-[#8355FF] to-[#4a2aa0] px-8 py-4 text-lg font-bold text-white">
      fale com nossos especialistas
    </a>
  </section>

  <section class="flex justify-between items-center w-full max-w-[1200px] gap-12">
    <img ngSrc="/assets/logo2.png" width="165" height="55" alt="logo">

    <div class="flex items-center justify-center gap-8">
      <img ngSrc="/assets/instagram.png" width="50" height="50" alt="instagram icon">
      <img ngSrc="/assets/face.png" width="50" height="50" alt="facebook icon">
    </div>

  </section>
</main>